/*************************************************************************
GLOBAL STYLES
*************************************************************************/
/* *:focus {
  border: 2px solid red;
} */

// TODO: Apply better fonts
// html {
//   box-sizing: border-box;
//   font-size: 20px;
//   font-family: 'mr-eaves-modern', sans-serif;
//   font-weight: 400;
//   font-style: normal;
// }

* {
  &::selection {
    background: #5b0707;
    color: #fff;
  }

  &::-moz-selection {
    background: #5b0707;
    color: #fff;
  }
}

header.hero {
  background:
    linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
    url('./public/assets/fold-overlay.png') no-repeat center center/cover,
    url('./public/assets/Vine-Background.png') repeat center center/contain;
}

section#benefits {
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)),
    url('./public/assets/Dust-Overlay.png') no-repeat center center/cover;
  opacity: 0.9;
  position: relative;

  // &:before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   background-color: rgba(0, 0, 0, 0.97);
  //   z-index: -1;
  // }
}

// section#testimonials {
//   background: url('./public/assets/rough-texture-01.png') no-repeat center
//     center/cover;
//   opacity: 0.99;
//   position: relative;

//   &:before {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background-color: rgba(0, 0, 0, 0.95);
//     z-index: -1;
//   }
// }

section#classes_pricing {
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)),
    url('./public/assets/Dust-Overlay.png') no-repeat center center/cover;
  opacity: 0.99;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
}

.themed-gradient-1 {
  background: linear-gradient(to top, black 0%, #150900 33%, black 100%);
}

.themed-gradient-2 {
  background: radial-gradient(circle, #210, #000);
}

.themed-background-style-1 {
  background:
    linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)),
    url('./public/assets/Dust-Overlay.png') no-repeat center center/cover;
  opacity: 0.99;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: -1;
  }
}

.themed-background-style-2 {
  background:
    linear-gradient(to left, rgba(0, 0, 0, 0.5), rgb(62, 1, 1, 0.5)),
    url('./public/assets/Background-Circles.png') no-repeat center center/cover;
  opacity: 0.99;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(68, 0, 0, 0.1);
    z-index: -1;
  }
}

.themed-background-style-3 {
  background: url('./public/assets/rough-texture-01.png') no-repeat center
    center/cover;
  opacity: 0.99;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: -1;
  }
}

.themed-background-style-4 {
  background:
    linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)),
    url('./public/assets/scratch-texture-2.jpg') no-repeat center center/cover;
  opacity: 0.99;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: -1;
  }
}

footer {
  background:
    linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)),
    url('./public/assets/Vine-Background.png') no-repeat center center/cover;
  opacity: 0.99;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.33);
    z-index: -1;
  }
}

.background-theme-img {
  background: url('./public/assets/Dust-Overlay.png') no-repeat center
    center/cover;
  opacity: 0.99;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
}

.program-card {
  flex: 1 1 calc(50% - 1rem); /* Adjust the width to account for the gap */
  background: url('./public/assets/Vine-Background.png') no-repeat center
    center/cover;
  opacity: 0.99;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
}

.outlined-icon {
  stroke-width: 24; /* Adjust thickness as needed */
  stroke: #fff; /* Set the outline color */
  fill: #5b0707; /* Make the icon's fill transparent */
}
.themed-text-effect-1 {
  paint-order: stroke fill;
  // color: #000000;

  -webkit-text-stroke: 1px #5b0707;
  // -webkit-text-stroke: 2px hsl(36, 50%, 60%);
  // text-shadow: 1px 1px white;
  // text-shadow: 2px 2px hsl(36, 50%, 60%);
  text-shadow: 2px 2px #5b0707;

  /* https://caniuse.com/mdn-css_properties_paint-order */
  /* default is paint-order: fill stroke */
  /* mdn: https://developer.mozilla.org/en-US/docs/Web/CSS/paint-order */
}
.themed-text-effect-2 {
  paint-order: stroke fill;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  -webkit-text-stroke: 5px hsl(36, 50%, 60%);
  // text-shadow: 1px 1px white;
  // text-shadow: 2px 2px hsl(36, 50%, 60%);

  /* https://caniuse.com/mdn-css_properties_paint-order */
  /* default is paint-order: fill stroke */
  /* mdn: https://developer.mozilla.org/en-US/docs/Web/CSS/paint-order */
}

// @layer demo.support {
//   h1 {
//     display: flex;
//     flex-direction: column;
//     align-items: center;

//     text-transform: uppercase;
//     font-size: calc(1rem + min(90px, 15vw));
//     font-weight: 900;
//     letter-spacing: -0.175ch;
//     line-height: 0.9;
//     color: white;
//     -webkit-text-stroke: 5px black;
//     text-shadow: 8px 8px black;

//     > span:first-of-type {
//       font-size: 0.75em;
//     }

//     > div {
//       display: flex;
//       gap: 0.5ch;
//     }
//   }
// section {
//   display: grid;
//   place-items: center;
//   gap: 2vmin;

//   > p {
//     border: 2px solid #aaa;
//     border-radius: 1e3px;
//     padding-inline: 1.5ch;
//     line-height: 1.75;
//   }
// }
// }
.text-effect-1 {
  // color: #fff;
  font-weight: bold;
  text-shadow:
    -3px -3px 0 hsl(36, 50%, 10%),
    3px -3px 0 hsl(36, 50%, 10%),
    -3px 3px 0 hsl(36, 50%, 10%),
    3px 3px 0 hsl(36, 50%, 10%),
    4px 4px 0 hsl(36, 50%, 10%),
    5px 5px 0 hsl(36, 50%, 10%),
    6px 6px 0 hsl(36, 50%, 10%),
    7px 7px 0 hsl(36, 50%, 10%);
  line-height: 6rem;
  margin: 0;
  letter-spacing: 0.05rem;
  transform: scaleY(0.7);
  -webkit-transform: scaleY(0.7);
  -moz-transform: scaleY(0.7);
  // margin: 0;
  // text-align: center;
}
