@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 320 20% 4%;
    --foreground: 0 0% 85%;

    --card: 0 0% 2%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 100% 15%;
    --primary-foreground: 0 100% 100%;

    --secondary: 320 12% 4%;
    --secondary-foreground: 0 100% 25%;

    --muted: 0 0% 50%;
    --muted-foreground: 0 0% 67%;

    --accent: 36 50% 60%;
    --accent-foreground: 0 0% 95%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 50%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;

    --font-arvo: 'Arvo', sans-serif;
    --font-soleil: 'soleil', sans-serif;
    --font-soleil: 'Soleil', sans-serif;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  /* Hide the default Safari triangle */
  summary::-webkit-details-marker {
    display: none;
  }
}
